:root {
    --background: #0f1011;
    --header: #f3faff;
    --text: #c2cbd3;

    --layer1: #1d1f21;
    --layer2: #2d3033;
    --layer3: #3d4145;
    --layer4: #4d5257;

    --border1: #494d53;
    --border2: #595e65;
    --border3: #696f77;
    --border4: #798089;

    --primary: #20adff;
    --primary-hover: #187abb;

    --b-radius-btn: 0.5rem;
    --b-radius-input: 0.5rem;
    --b-radius-card: 0.4rem;

    --transition: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: 'Space Grotesk', sans-serif;
    background-color: var(--background);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700 !important;
    color: var(--header);
}

p, li {
    color: var(--text);
    font-weight: 400 !important;
}

a {
    color: var(--primary);
    font-weight: 400 !important;
    transition: color 0.2s var(--transition);
}

a:hover {
    color: var(--primary-hover);
}

.vh-25 {
    height: 25dvh;
}

.navbar {
    background-color: var(--layer1);
    border: 1px solid var(--border1);
    color: var(--header);
    padding: 1rem calc(0.5rem + 0.5vw);
    border-radius: var(--b-radius-btn);
    transition: background-color 0.2s var(--transition), border-color 0.2s var(--transition), color 0.2s var(--transition);
}

footer {
    background-color: var(--layer1);
    border: 1px solid var(--border1);
    color: var(--header);
    padding: 1rem calc(0.5rem + 0.5vw);
    border-radius: var(--b-radius-btn);
    transition: background-color 0.2s var(--transition), border-color 0.2s var(--transition), color 0.2s var(--transition);
}

footer:hover {
    background-color: var(--layer2);
    border-color: var(--border2);
    color: var(--header);
}

.navbar-brand {
    color: var(--header);
    font-weight: 700;
    transition: color 0.2s var(--transition);
}

.navbar-brand:hover {
    color: var(--primary);
}

.nav-link {
    color: var(--header);
    font-weight: 400;
    transition: color 0.2s var(--transition);
}

.nav-link:hover, .nav-link:focus, .nav-link:active {
    color: var(--primary);
}

.active, .nav-link.show {
    color: var(--primary) !important;
}

.form-check-input {
    clip: rect(0 0 0 0);
    position: absolute;
    pointer-events: none;
}

.btn-radio {
    width: 100%;
    border-radius: var(--b-radius-card);
    border: 1px solid var(--border1);
    background-color: var(--layer1);
    color: var(--text);
    font-weight: 400;
    padding: 12px 24px;
    margin-bottom: 3px;
    text-align: left;
    transition: background-color 0.2s var(--transition), border-color 0.2s var(--transition), color 0.2s var(--transition);
}

.btn-check+.btn:hover {
    background-color: var(--primary-hover);
    border-color: var(--primary-hover);
    color: var(--header);
}

.btn-check:checked+.btn {
    border-color: var(--primary);
    background-color: var(--primary);
    color: var(--header);
}

.option {
    border-radius: var(--b-radius-card);
    border: 1px solid var(--border1);
    background-color: var(--layer1);
    color: var(--text);
    font-weight: 400;
    transition: background-color 0.2s var(--transition), border-color 0.2s var(--transition), color 0.2s var(--transition);
    display: flex;
    align-items: center;
    padding: 12px 24px;

    &:hover {
        background-color: var(--primary-hover);
        border-color: var(--primary-hover);
        color: var(--header);
    }

    & > h3 {
        margin: 0 0 0 1rem;
    }

    & > p {
        margin: 0 0 0 1rem;
    }

    & > p.price {
        margin: 0 0 0 1rem;
        background-color: var(--header);
        border-radius: var(--b-radius-btn);
        padding: 0.5rem 1rem;
        color: var(--background);
        font-weight: 700 !important;
    }

    &.option-winner {
        border-color: var(--primary);
        background-color: var(--primary);
        color: var(--header);
    }

    & > .number {
        font-size: 1rem;
        font-weight: 700;
        margin-right: 1rem;
        background-color: var(--layer3);
        border: 1px solid var(--border3);
        color: var(--header);
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & > .number.number-winner {
        background-color: var(--header);
        border-color: var(--header);
        color: var(--background);
    }
}

.background-image {
    z-index: -1;
    position: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &.earphones {
        background-image: url('../content/main-site/nothing.png');
        width: 720px;
        height: 720px;
        top: -10vw;
        right: 2vh;
        filter: blur(5px) brightness(0.5);
    }

    &.phones {
        background-image: url('../content/main-site/main-kv-2023\ 1.png');
        width: 720px;
        height: 720px;
        top: 25vw;
        left: 2vh;
        filter: blur(5px) brightness(0.5);
    }

    &.headphones {
        background-image: url('../content/main-site/image\ 1.png');
        width: 540px;
        height: 600px;
        top: 30vw;
        right: 10vh;
        filter: blur(5px) brightness(0.5);
    }

    @media screen and (max-width: 1919px) {
        &.earphones {
            display: none;
        }

        &.phones {
            display: none;
        }

        &.headphones {
            display: none;
        }
    }
}